<ng-container *ngIf="active">

  <nz-modal [nzVisible]="active" (nzOnOk)="save()" (nzOnCancel)="close()"
    [nzOkDisabled]="!changePasswordModalForm.form.valid || saving" [nzTitle]="l('ChangePassword')">
    <form #changePasswordModalForm="ngForm" (ngSubmit)="save()">

      <nz-form-item>
        <nz-form-label for="CurrentPassword">{{ l("CurrentPassword")  }}</nz-form-label>
        <nz-form-control>
          <input nz-input #currentPasswordInput="ngModel" [(ngModel)]="currentPassword" class="form-control"
            id="CurrentPassword" name="CurrentPassword" required type="password" />
          <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label for="NewPassword">{{ l("NewPassword") }}</nz-form-label>
        <nz-form-control>
          <input nz-input #NewPassword="ngModel" [(ngModel)]="password"
            [requireDigit]="passwordComplexitySetting.requireDigit"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requiredLength]="passwordComplexitySetting.requiredLength" class="form-control" id="NewPassword"
            name="NewPassword" required pPassword type="password" validateEqual="NewPasswordRepeat" reverse="true" />
        </nz-form-control>
      </nz-form-item>
      <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
        <ul *ngIf="NewPassword.errors" class="help-block text-danger">
          <li [hidden]="!NewPassword.errors.requireDigit">{{ l("PasswordComplexity_RequireDigit_Hint")  }}
          </li>
          <li [hidden]="!NewPassword.errors.requireLowercase">
            {{ l("PasswordComplexity_RequireLowercase_Hint")  }}</li>
          <li [hidden]="!NewPassword.errors.requireUppercase">
            {{ l("PasswordComplexity_RequireUppercase_Hint") }}</li>
          <li [hidden]="!NewPassword.errors.requireNonAlphanumeric">
            {{ l("PasswordComplexity_RequireNonAlphanumeric_Hint") }}</li>
          <li [hidden]="!NewPassword.errors.requiredLength">
            {{ l("PasswordComplexity_RequiredLength_Hint" , passwordComplexitySetting.requiredLength) }}
          </li>
        </ul>
      </div>
      <nz-form-item>
        <nz-form-label for="NewPasswordRepeat">{{ l("NewPasswordRepeat")  }}</nz-form-label>
        <nz-form-control>
          <input nz-input #NewPasswordRepeat="ngModel" [ngModel]="confirmPassword"
            [requireDigit]="passwordComplexitySetting.requireDigit"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requiredLength]="passwordComplexitySetting.requiredLength" class="form-control" id="NewPasswordRepeat"
            name="NewPasswordRepeat" required type="password" validateEqual="NewPassword" />
        </nz-form-control>
      </nz-form-item>
      <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
        <ul *ngIf="NewPasswordRepeat.errors" class="help-block text-danger">
          <li [hidden]="!NewPasswordRepeat.errors.requireDigit">
            {{ l("PasswordComplexity_RequireDigit_Hint")  }}</li>
          <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">
            {{ l("PasswordComplexity_RequireLowercase_Hint")}}</li>
          <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">
            {{ l("PasswordComplexity_RequireUppercase_Hint")  }}</li>
          <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">
            {{ l("PasswordComplexity_RequireNonAlphanumeric_Hint")  }}</li>
          <li [hidden]="!NewPasswordRepeat.errors.requiredLength">
            {{ l("PasswordComplexity_RequiredLength_Hint" , passwordComplexitySetting.requiredLength) }}
          </li>
          <li [hidden]="NewPasswordRepeat.valid">{{ l("PasswordsDontMatch")}}</li>
        </ul>
      </div>

    </form>
  </nz-modal>

</ng-container>