<div [@routerTransition] class="kt-login__form">
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-pricing-1 kt-pricing-1--fixed">
            <div class="kt-pricing-1__items row row-centered">
              <div *ngFor="let editionWithFeatures of editionsSelectOutput.editionsWithFeatures; let i = index" class="kt-pricing-1__item col-lg-3 col-centered">
                <div class="kt-pricing-1__visual">
                  <div class="kt-pricing-1__hexagon1"></div>
                  <div class="kt-pricing-1__hexagon2"></div>
                  <span class="kt-pricing-1__icon kt-font-brand">
                    <i class="fa {{ editionIcons[i] }}"></i>
                  </span>
                </div>

                <span class="kt-pricing-1__price">
                  {{ editionWithFeatures.edition.displayName }}
                </span>

                <h2 *ngIf="isFree(editionWithFeatures.edition)" class="kt-pricing-1__subtitle">
                  {{ "Free" | localize }}
                </h2>

                <h2 *ngIf="!isFree(editionWithFeatures.edition)" class="kt-pricing-1__subtitle">
                  <span *ngIf="editionWithFeatures.edition.dailyPrice > 0" class="kt-pricing-1__label">
                    {{ appSession.application.currencySign }} {{ editionWithFeatures.edition.dailyPrice }} {{ "PerDay" | localize }}
                    <br />
                  </span>
                  <span *ngIf="editionWithFeatures.edition.weeklyPrice > 0" class="kt-pricing-1__label">
                    {{ appSession.application.currencySign }} {{ editionWithFeatures.edition.weeklyPrice }} {{ "PerWeek" | localize }}
                    <br />
                  </span>
                  <span *ngIf="editionWithFeatures.edition.monthlyPrice > 0" class="kt-pricing-1__label">
                    {{ appSession.application.currencySign }} {{ editionWithFeatures.edition.monthlyPrice }} {{ "PerMonth" | localize }}
                    <br />
                  </span>
                  <span *ngIf="editionWithFeatures.edition.annualPrice > 0" class="kt-pricing-1__label">
                    {{ appSession.application.currencySign }} {{ editionWithFeatures.edition.annualPrice }} {{ "PerYear" | localize }}
                  </span>
                </h2>

                <span class="kt-pricing-1__description">
                  <ng-container *ngFor="let feature of editionsSelectOutput.allFeatures">
                    <!--Checbox Feature-->
                    <ng-container *ngIf="isTrueFalseFeature(feature)">
                      <i *ngIf="featureEnabledForEdition(feature, editionWithFeatures)" class="la la-check kt-font-success"></i>
                      <i *ngIf="!featureEnabledForEdition(feature, editionWithFeatures)" class="la la-times kt-font-dark"></i>
                    </ng-container>
                    <ng-container *ngIf="isTrueFalseFeature(feature)">{{ feature.displayName }} </ng-container>
                    <!--Checbox Feature-->
                    <!--Not Checbox Feature-->
                    <ng-container *ngIf="!isTrueFalseFeature(feature)">
                      <i class="la la-check kt-font-success"></i>
                    </ng-container>
                    <ng-container *ngIf="!isTrueFalseFeature(feature)"> {{ feature.displayName }}:{{ getFeatureValueForEdition(feature, editionWithFeatures) }} </ng-container>
                    <!--Not Checbox Feature-->
                    <br />
                  </ng-container>
                </span>

                <div class="kt-pricing-1__btn">
                  <button
                    (click)="upgrade(editionWithFeatures.edition, editionPaymentType.Upgrade)"
                    *ngIf="isUserLoggedIn"
                    class="btn btn-warning btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                  >
                    {{ "Upgrade" | localize }}
                  </button>

                  <button
                    *ngIf="!isUserLoggedIn && isFree(editionWithFeatures.edition)"
                    [queryParams]="{ editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Free }"
                    [routerLink]="['/account/register-tenant']"
                    class="btn btn-success btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                  >
                    {{ "Start" | localize }}
                  </button>

                  <button
                    *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition) && editionWithFeatures.edition.trialDayCount"
                    [queryParams]="{ editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Trial }"
                    [routerLink]="['/account/register-tenant']"
                    class="btn btn-warning btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                  >
                    {{ "FreeTrial" | localize }}
                  </button>

                  <button
                    *ngIf="!isUserLoggedIn && !isFree(editionWithFeatures.edition)"
                    [queryParams]="{
                      editionId: editionWithFeatures.edition.id,
                      subscriptionStartType: subscriptionStartType.Paid,
                      editionPaymentType: editionPaymentType.NewRegistration
                    }"
                    [routerLink]="['/account/register-tenant']"
                    class="btn btn-primary btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm mx-2"
                  >
                    {{ "BuyNow" | localize }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
