<nz-modal [nzVisible]="isShown" [nzTitle]="l('SelectRoles')" (nzOnCancel)="close()"
    (nzOnOk)="addRolesToOrganizationUnit()" [nzOkDisabled]="saving">


    <div class="modal-body">
        <form (ngSubmit)="refreshTable()" autocomplete="off" novalidate>
            <div class="input-group mb-2">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" name="filterText" [(ngModel)]="filterText" nz-input
                        placeholder="{{ 'SearchWithThreeDot' | localize }}" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" type="submit" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>

            </div>
            <st [data]="dataList" [columns]="columns" [loading]="loading"
                [page]="{pageNumber:pageNumber,show:show,totalItems:totalItems,totalPages:totalPages}"></st>
        </form>
    </div>



</nz-modal>