<div [@routerTransition] class="kt-login__form" style=" display:flex;justify-content: center;">
  <div class="kt-login__title" style="width: 400px;">
    <h3 class="m-0" style="text-align: center;">
      {{ "ForgotPassword" | localize }}
    </h3>


    <form #forgotPassForm="ngForm" (ngSubmit)="save()" class="kt-form" method="post" novalidate>
      <p style="text-align: center;">
        {{ "SendPasswordResetLink_Information" | localize }}
      </p>

      <div class="form-group">
        <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus autocomplete="off" nz-input
          class="form-control placeholder-no-fix" email maxlength="256" name="emailAddress"
          placeholder="{{ 'EmailAddress' | localize }} *" required type="text" />
        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
      </div>
      <nz-form-item style="margin-top: 50px;">
        <div class="kt-login__actions" style="display: flex;justify-content: space-between;width: 100%;">
          <button nz-button [disabled]="saving" class="btn btn-light btn-elevate kt-login__btn-secondary"
            routerLink="/account/login" type="button">
            <i class="fa fa-arrow-left"></i> {{ "Back" | localize }}
          </button>
          <button nz-button nzType="primary" [nzLoading]="saving" [disabled]="!forgotPassForm.form.valid" type="submit">
            <i class="fa fa-check"></i> {{ "Submit" | localize }}
          </button>
        </div>
      </nz-form-item>

    </form>
  </div>
</div>