<page-header-wrapper [title]="title" [action]="action">
  <ng-template #title>
    电商
    <span class="text-sm text-grey-dark">
      <nz-divider nzType="vertical"></nz-divider>
      社区管理
    </span>
  </ng-template>

  <ng-template #action>
    <div style="display: flex;justify-content: flex-end;">
      <button nz-button>
        <i nz-icon nzType="file-excel"></i>
        <span>
          {{"ExportToExcel" | localize}}
        </span>
      </button>
      <button nz-button nzType="primary" *ngIf="'Pages.Brands.Create'|permission" (click)="create()"> <i nz-icon
           nzType="plus"
           nzTheme="outline"></i>
        {{l("新增社区")}}</button>
    </div>
  </ng-template>



  <nz-card>
    <st [data]="dataList" [columns]="columns" [loading]="loading"
        [page]="{pageNumber:pageNumber,show:show,totalItems:totalItems,totalPages:totalPages}" (change)="click($event)">
    </st>
    <!-- <nz-divider></nz-divider> -->

  </nz-card>
  <app-create-or-edit-distribut #createOrEditDistribut (modalSave)="refresh()"></app-create-or-edit-distribut>

</page-header-wrapper>
